<!DOCTYPE html>
<html>
<head>
	<title>Politique de confidentialité</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/style.css">
</head>
<body>
<h2 class= "title-politique">Nos coordonnées</h2>
<p class= "paragraph-politique">
	Propriétaire de site : Jean Forteroche.<br\>
	L’hébergeur de site : Planet Hoster.
</p>

<h2 class= "title-politique">Quel type de données récoltons-nous ?</h2>
<p class= "paragraph-politique">
	Nom, Prénom, E-mail.
</p>

<h2 class= "title-politique">Pourquoi collectons-nous ces informations ?</h2>
<p class= "paragraph-politique">
	Pour que vous puissiez faire un commentaire sur le site.
</p>

<p class= "paragraph-politique">
	Si vous souhaitez accéder, modifier ou supprimer vos données personnelles, veuillez contacter cette adresse éléctronique :
    <strong>jean_forteroche@ecrivain.fr</strong>
</p>
</body>
</html>